body {
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
}

header {
    display: flex;
    align-items: center;
}

h1 {
    margin-left: 20px;
}

#image-list li {
    list-style: none;
    height: 200px;
    width: 100px;
    margin-right: 10px;
}

#image-list li img {
    width: 100px
}

#image-list {
    display: flex;
    flex-wrap: wrap;
}